In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("D://NLP_Udemy//UPDATED_NLP_COURSE//TextFiles/moviereviews.tsv",sep="\t")

In [3]:
df.head()

  label                                             review
0   neg  how do films like mouse hunt get into theatres...
1   neg  some talented actresses are blessed with a dem...
2   pos  this has been an extraordinary year for austra...
3   pos  according to hollywood movies made in last few...
4   neg  my first press screening of 1998 and already i...

In [7]:
df['label'].isnull().sum()

0

In [8]:
df.isnull().sum()

label      0
review    35
dtype: int64

In [9]:
df.dropna(inplace=True)

In [10]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [11]:
blanks=[]
for i,lb,rv in df.itertuples():
    if rv.isspace():
        blanks.append(i)

In [12]:
df.drop(blanks,inplace=True)

In [13]:
len(df)

1938

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X=df['review']
y = df['label']

In [16]:
X_train, X_test, y_train, y_test =train_test_split(X,y,test_size=0.3,random_state=42)

In [17]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC

In [18]:
text_clf = Pipeline([('Tfidf',TfidfVectorizer()),('clf',LinearSVC())])

In [19]:
text_clf.fit(X_train,y_train)

Pipeline(memory=None,
     steps=[('Tfidf', TfidfVectorizer(analyzer='word', binary=False, decode_error='strict',
        dtype=<class 'numpy.float64'>, encoding='utf-8', input='content',
        lowercase=True, max_df=1.0, max_features=None, min_df=1,
        ngram_range=(1, 1), norm='l2', preprocessor=None, smooth_idf=True,...ax_iter=1000,
     multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
     verbose=0))])

In [21]:
prediction = text_clf.predict(X_test)

In [24]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
print(confusion_matrix(y_test,prediction))
print(classification_report(y_test,prediction))

[[235  47]
 [ 41 259]]
              precision    recall  f1-score   support

         neg       0.85      0.83      0.84       282
         pos       0.85      0.86      0.85       300

   micro avg       0.85      0.85      0.85       582
   macro avg       0.85      0.85      0.85       582
weighted avg       0.85      0.85      0.85       582

In [25]:
print(accuracy_score(y_test,prediction))

0.8487972508591065

In [1]:
# movie review using sentiments analysis.

In [5]:
import numpy as np
import pandas as pd

df = pd.read_csv("D://NLP_Udemy//UPDATED_NLP_COURSE//TextFiles/moviereviews.tsv",sep="\t")

In [6]:
df.dropna(inplace=True)

In [7]:
blanks=[]
for i,lb,rv in df.itertuples():
    if rv.isspace():
        blanks.append(i)
        
df.drop(blanks,inplace=True)

In [8]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

In [9]:
sid.polarity_scores(df.iloc[0]['review'])

{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'compound': -0.9125}

In [10]:
df['scores'] = df['review'].apply(lambda review:sid.polarity_scores(review))

In [11]:
df['compound'] = df['scores'].apply(lambda score : score['compound'])

In [12]:
df.head()

,label,review,scores,compound
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.067, 'neu': 0.783, 'pos': 0.15, 'com...",0.9953
3,pos,according to hollywood movies made in last few...,"{'neg': 0.069, 'neu': 0.786, 'pos': 0.145, 'co...",0.9972
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.09, 'neu': 0.822, 'pos': 0.088, 'com...",-0.7264

In [13]:
df['comp_score'] =df['compound'].apply(lambda score: 'pos' if score >=0 else 'neg')

In [14]:
df.head()

,label,review,scores,compound,comp_score
0,neg,how do films like mouse hunt get into theatres...,"{'neg': 0.121, 'neu': 0.778, 'pos': 0.101, 'co...",-0.9125,neg
1,neg,some talented actresses are blessed with a dem...,"{'neg': 0.12, 'neu': 0.775, 'pos': 0.105, 'com...",-0.8618,neg
2,pos,this has been an extraordinary year for austra...,"{'neg': 0.067, 'neu': 0.783, 'pos': 0.15, 'com...",0.9953,pos
3,pos,according to hollywood movies made in last few...,"{'neg': 0.069, 'neu': 0.786, 'pos': 0.145, 'co...",0.9972,pos
4,neg,my first press screening of 1998 and already i...,"{'neg': 0.09, 'neu': 0.822, 'pos': 0.088, 'com...",-0.7264,neg

In [15]:
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
print(confusion_matrix(df['label'],df['comp_score']))
print(classification_report(df['label'],df['comp_score']))
print(accuracy_score(df['label'],df['comp_score']))

[[427 542]
 [162 807]]
              precision    recall  f1-score   support

         neg       0.72      0.44      0.55       969
         pos       0.60      0.83      0.70       969

   micro avg       0.64      0.64      0.64      1938
   macro avg       0.66      0.64      0.62      1938
weighted avg       0.66      0.64      0.62      1938

0.6367389060887513