In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt


from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer

from sklearn.model_selection import train_test_split

from sklearn.svm import SVC
#from wordcloud import WordCloud

In [2]:
df = pd.read_csv("C:/jupyternotebook/spam.csv",encoding = "ISO-8859-1")

In [3]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
df.drop(columns=["Unnamed: 2","Unnamed: 3","Unnamed: 4"],inplace=True)

In [5]:
df.columns = ["labels",'data']

In [6]:
df.head()

  labels                                               data
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [31]:
df["b_labels"] = df["labels"].map({"ham":0,"spam":1})

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   labels    5572 non-null   object
 1   data      5572 non-null   object
 2   b_labels  5572 non-null   int64
dtypes: int64(1), object(2)
memory usage: 130.7+ KB

In [14]:
y=df["b_labels"].to_numpy()

In [15]:
X_train, X_test, y_train, y_test = train_test_split(df["data"], y, test_size=0.33, random_state=42)

In [16]:
y_test

array([0, 0, 1, ..., 0, 0, 1], dtype=int64)

In [17]:
featurizer = CountVectorizer()

X_train = featurizer.fit_transform(X_train)
X_test = featurizer.transform(X_test)

In [24]:
from sklearn.naive_bayes import MultinomialNB
model_naivebase = MultinomialNB()
model_naivebase.fit(X_train,y_train)
print(model_naivebase.score(X_train,y_train))
print(model_naivebase.score(X_test,y_test))

0.994910259844629
0.9825992387166939